<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $.get("{% url 'user_nearby_list' %}",
    {
      fb_id:"100006543391073",
      name:"Siyang Wang"
    },
    function(data,status){ 
      console.log(data['users'][0].name);
      $("#test1").html(data['users'][0].name);//;
      alert("Data: " + data + "\nStatus: " + status);
    }); 
  });
});
</script>
</head>
<body>

<button>Send an HTTP Get request to a page and get the result back</button>
<div id="test1">No Response</div>

</body>
</html>
